#contact-bg {
  background-color: var(--cor-11);
  padding-top: 65px;
  height: 100vh;
  background: var(--cor-11) url(../img/bg-contact.svg) no-repeat 500px bottom;
}

#contact-section {
  max-width: 1400px;
}

.title strong,
.span-1 {
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Atyp Display';
  margin-bottom: 40px;
  line-height: 100%;
}

.title strong {
  padding-left: 60px;
}

#subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 2;
}

.contact {
  margin-top: 60px;
  color: var(--cor-12);
}

.contact h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-links {
  padding-left: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-links li a {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 860px) {
  #contact-bg {
    background-size: 80%;
    background-position: bottom;
  }

  #contact-section {
    margin-left: 5px;
  }
}

@media (max-width: 420px) {
  .contact {
    margin-top: 40px;
  }

  .title strong,
  .span-1 {
    font-size: 100px;
  }
}

@media (max-width: 375px) {
  #contact-section {
    margin-left: 10px;
  }

  .title strong,
  .span-1 {
    font-size: 80px;
  }

  .contact-links {
    font-size: 18px;
  }
}

@media (max-width: 325px) {
  #contact-bg {
    background-image: none;
  }

  .contact {
    margin-top: 20px;
  }
}