footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9;
  background-color: var(--cor-0);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.1);
}

.footer {
  max-width: 1400px;
  min-height: 65px;
  padding: 10px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.name {
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.name a:hover {
  transition: .3s ease;
  color: var(--cor-p1);
}

.language a {
  color: var(--cor-8);
  transition: .3s ease;
  display: flex;
  place-items: center;
  gap: 5px;
}

.language i {
  font-size: 22px;
}

.language a:hover {
  color: var(--cor-p1);
  /* text-shadow: 0 0 5px var(--cor-p1); */
}

@media (max-width: 436px) {
  .footer {
    justify-content: center;
    gap: 5px;
  }

  .language i {
    font-size: initial;
  }
}