.header-bg {
  background-color: var(--cor-0);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
}

header {
  width: 100%;
  position: fixed;
  top: 1;
  z-index: 9;
}

.header {
  max-width: 1400px;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 10px 30px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0;
}

.header-menu a:not(.contact-btn) {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  display: inline-block;
  padding: 14px 0;
  position: relative;
  color: var(--cor-1);
}

.header-menu a:not(.contact-btn)::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 0px;
  background-color: var(--cor-p1);
  margin-top: 2px;
  transition: 0.3s ease;
  position: absolute;
}

.header-menu a:not(.contact-btn) {
  width: 100%;
}

.header-menu a:hover:not(.contact-btn) {
  color: var(--cor-p1);
}

.contact-btn {
  background: var(--cor-p1);
  box-shadow: 0 5px 0 var(--cor-p2);
  color: var(--cor-0);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding: 12px 16px;
  border-radius: 5px;
  display: inline-block;
}

.contact-btn:active { 
  box-shadow: none;
  transform: translateY(5px);
}

.hamburger {
  display: none;
}

@media (min-width: 900px) {
  .header-menu a:not(.contact-btn):hover::after {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 10px 0 10px 20px;
    background: var(--cor-8);
    align-items: center;
  }

  .header-menu {
    display: inline;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 999999;
    overflow-y: hidden;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }

  .hamburger {
    display: block;
  }
  
  #nav.active .header-menu {
    height: calc(230px - 65px);
    padding: 0px 20px;
    visibility: visible;
    overflow-y: auto;
    right: 0;
    background-color: var(--cor-8);
  }

  #site.active {
    padding-top: 160px;
    transition: padding-top 0.5s ease, filter 0.7s ease-in-out;
    filter: blur(5px);
    -webkit-filter: blur(2px);
  }

  .header-menu a::after {
    content: none;
  }

  .header-menu li a {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-3);
    border-bottom: 1px solid var(--cor-p1);
  }

  .header-menu li .contact-btn {
    background: none;
    color: var(--cor-1);
    padding: 14px 0;
    border-radius: 0;
  }

  .header-menu a:hover:not(.contact-btn) {
    color: var(--cor-1);
  }

  .contact-btn {
    box-shadow: none;
  }
}