footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9;
  background-color: var(--cor-0);
}

.footer {
  max-width: 1400px;
  min-height: 65px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin: 0 auto;
}

.name {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

#mail {
  transition: all 0.3s ease;
}

#mail:hover {
  color: var(--cor-p1);
}

.social-media {
  display: flex;
  gap: 18px;
}

.social-media li a {
  display: block;
  transition: .3s ease;
  font-size: 22px;
}

.social-media li a:hover  {
  color: var(--cor-p1);
  text-shadow: 0 0 5px var(--cor-p1);
}

@media (max-width: 640px) {
  .footer {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 10px;  
  }

  .name {
    font-size: 12px;
  }

  .social-media i {
    font-size: 16px;
    color: var(--cor-8);
  }
}