.header-bg {
  background-color: var(--cor-0);
}

header {
  width: 100%;
  position: fixed;
  top: 1;
  z-index: 9;
}

.header {
  max-width: 1400px;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 10px 30px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 0;
}

.header-menu a {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  display: inline-block;
  padding: 14px 0;
  position: relative;
  color: var(--cor-1);
}

.header-menu a::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 0px;
  background-color: var(--cor-p1);
  margin-top: 2px;
  transition: 0.3s ease;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu a:link {
  width: 100%;
}

.header-menu a:hover {
  color: var(--cor-p1);
}

.hamburger {
  display: none;
}

@media (max-width: 640px) {
  .header {
    padding: 10px 20px;
  }

  .header a img {
    width: 52px;
  }

  .header-menu {
    display: inline;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: var(--cor-0);
    z-index: 999999;
    overflow-y: hidden;
    visibility: hidden;
  }

  .hamburger {
    display: block;
  }

  #nav.active .header-menu {
    height: calc(33vh - 65px);
    padding: 0px 20px;
    visibility: visible;
    overflow-y: auto;
    transition: all 0.6s ease;
    right: 0;
  }

  #site.active {
    padding-top: 160px;
    transition: all 0.6s ease;
  }

  .header-menu a::after {
    content: none;
  }

  .header-menu li a {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-3);
    border-bottom: 1px solid var(--cor-p1);
  }
}