* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Figtree', sans-serif;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: var(--cor-1);
}

a {
  color: inherit;
  display: block;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

#site {
  max-width: 1400px;
  margin: 0 auto
}