:root {
  --cor-0: #ffffff;
  --cor-1: #939393;
  --cor-2: #f7f7f7;
  --cor-3: #b2b2b2;
  --cor-4: #595959;
  --cor-5: #404040;
  --cor-6: #111111;
  --cor-7: #000000;
  --cor-8: #23272A;
  --cor-p1: #ffbb00;
  --cor-p2: #332200;
  --cor-p3: #F2A60C;
  --cor-linear: linear-gradient(#FFBF00, #F2A60C);
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);

}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-p1 {
  color: var(--cor-p1);
}

.cor-p2 {
  color: var(--cor-p2);
}

.cor-linear {
  background-color: var(--cor-linear);
}