:root {
  --cor-0: #ffffff;
  --cor-1: #939393;
  --cor-2: #f7f7f7;
  --cor-4: #595959;
  --cor-7: #000000;
  --cor-8: #23272A;
  --cor-p1: #ffbb00;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);

}

.cor-2 {
  color: var(--cor-2);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-8 {
  color: var(--cor-8);
}

.cor-p1 {
  color: var(--cor-p1);
}