.introducao-bg {
  background-color: var(--cor-0);
  padding-top: 65px;
  display: flex;
  text-align: center;
}

.introducao {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#app {
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
}

.introducao h1 {
  margin-bottom: 40px;
  font-size: 48px;
}

.introducao-botoes {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 80px;
}

.botao {
  padding: 14px 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--cor-p2);
  position: relative;
}

.botao::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 0px;
  background-color: var(--cor-p3);
  margin-top: 2px;
  transition: 0.3s ease;
  position: absolute;
}

.botao:hover::after {
  width: 100%;
}

@media (max-width: 640px) {
  .introducao-bg {
    padding-top: 65px;
  }

  .introducao h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .introducao-botoes {
    margin-bottom: 20px;
  }

  .botao {
    color: var(--cor-p2);
    letter-spacing: 1.6px;
  }

  .botao::after {
    width: 23px;
  }
}

@media (max-width: 420px) {
  #app {
    font-size: 24px;
  }
}